#uiformc-menu-sec7 .sfdc-col-xs-3 {
	padding-right: 0px !important;
}
#uiformc-menu-sec7 .sfdc-col-xs-9 {
	padding-left: 0px !important;
}

#uiformc-menu-sec7 .sfdc-nav-tabs li.sfdc-active a {
	background: #fff !important;
}
